/* src/components/side.css */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 1rem;
  }
  
  ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
  
  ul li button {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  ul li ul {
    padding-left: 1rem;
  }
  
  ul li ul li {
    margin-bottom: 0.5rem;
  }
  
  ul li ul li a {
    display: block;
  }
  @media (min-width: 640px) {
    #default-sidebar {
      transform: translateX(0) !important;
    }
  }